name: Build SavaBadge macOS Only

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.yml'  # 設定を変えた時のみ実行
  workflow_dispatch: 

jobs:
  build-macos:
    runs-on: macos-15-intel
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka zstandard
      - name: Build App
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: SavaBadge.py
          mode: app
          disable-console: false
          # --- アイコン設定を追加 ---
          macos-app-icon: Image/icon.icns

      - name: Upload macOS App
        uses: actions/upload-artifact@v4
        with:
          name: SavaBadge-macOS
          # 拡張子が .app のディレクトリをアップロード
          path: build/*.app
