name: Build SavaBadge EXE

on:
  push:
    branches: [ "main" ]
    paths:
      - '**.yml'  # 設定を変えた時のみ実行
  workflow_dispatch: 

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka zstandard
      - name: Build EXE with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: SavaBadge.py
          mode: onefile
          # パラメータ名を修正: windows-disable-console -> disable-console
          disable-console: false
          windows-icon-from-ico: Image/icon.ico

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SavaBadge-Windows-EXE
          path: build/*.exe
